<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" type="text/css" href="/vendor/littke/inspiritas-bootstrap/inspiritas.css">
            <title>{% block title %}{% endblock %} - z0</title>
        {% endblock %}
        <script src="/public/underscore.js" ></script>
        <script src="/public/jquery-1.9.1.js" ></script>
        <script src="/public/backbone.js" ></script>
        <script src="/public/mustache.js"></script>
        <script src="/public/app.js" ></script>
    </head>
    <body>
        {% include "navibar.twig" %}
<!--         <header>
            <a href="/">Back To Home{{app}}</a>
            {% block header %}{% endblock %}
            <a href="/create/wiki">New Page</a>
        </header> -->
<div class="container">
    <div class="row-fluid">
        <div class="span3">
            {% block sidebar %}{% include "sidebar.twig"%}{% endblock %}
        </div>
        <div class="span9" id="content-wrapper">
            <div id="content">{% block content %}{% endblock %}</div>
        </div>
    </div>
</div>


<footer class="navbar-fixed-bottom row-fluid">
    <div class="navbar-inner">
        <div class="container">
            {% block footer %}
                &copy; Copyright 2013 by <a href="http://www.z0.lv/">z0</a>.
            {% endblock %}
        </div>
    </div>
</footer>


        <section id="modal"></section>
        {% verbatim %}
        <script type="text/mustache" id="WikiCreate">
                <form method="post">
                    <fieldset>
                        <legend>WikiPost {{editMode}} </legend>
                        <label>Title <input type="text" name="title"></label>
                        <label>body <textarea name="body"></textarea></label>
                    </fieldset>
                </form>
        </script>
        <script type="text/mustache" id="WikiListView">
            <header>
                <div class="pull-right">
                    <a class="btn btn-small">Edit</a>
                </div>
                <h1>List Pages</h1>
            </header>
            <ul>
            {{#posts}}
                <li><a href="{{linkToTitle}}">{{title}}</a></li>
            {{/posts}}
            </ul>
        </script>
        <script type="text/mustache" id="WikiItemView">
            <header>
                <div class="pull-right">
                    <a class="btn btn-small">Edit</a>
                </div>
                <h1>{{title}}</h1>
            </header>
            {{body}}
        </script>
        {% endverbatim %}
    </body>
</html>